<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Oracle Corporation//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
  <servlet>
    <servlet-name>registration</servlet-name>
    <servlet-class>com.jeremyroman.gcmfilepush.server.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registration</servlet-name>
    <url-pattern>/registration/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>push</servlet-name>
    <servlet-class>com.jeremyroman.gcmfilepush.server.PushServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>push</servlet-name>
    <url-pattern>/push/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>client-config</servlet-name>
    <servlet-class>com.jeremyroman.gcmfilepush.server.ClientConfigServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>client-config</servlet-name>
    <url-pattern>/client-config</url-pattern>
  </servlet-mapping>
</web-app>
